operator:
  create: true
  token:
    value: {{ exec "sh" (list "-c" "op item get 'PKE-natsume Access Token: PKE-natsume' --format json | jq -r '.fields[] | select(.id == \"credential\").value'") | quote }}

connect:
  create: true
  credentials: {{ exec "sh" (list "-c" "op document get 'PKE-natsume Credentials File'") | quote }}
  api:
    serviceMonitor:
      enabled: true