operator:
  create: true
  token:
    value: {{ exec "sh" (list "-c" (printf "op item get '%s' --format json | jq -r '.fields[] | select(.id == \"credential\").value'" .Values.onepassword.accessTokenItem)) | quote }}

connect:
  create: true
  credentials: {{ exec "sh" (list "-c" (printf "op document get '%s'" .Values.onepassword.credentialsFile)) | quote }}
  api:
    serviceMonitor:
      enabled: false
