operator:
  create: true
  token:
    value: {{ exec "sh" (list "-c" "op item get 'PKE-kkg 1password-credentials' --fields label=token --format json | jq -r .value") | quote }}

connect:
  create: true
  credentials: {{ exec "sh" (list "-c" "op item get 'PKE-kkg 1password-credentials' --fields label=credentials --format json | jq -r .value") | quote }}
  api:
   serviceMonitor:
      enabled: true