cloudflare:
  secretRef:
    name: cf-ingress-controller-secrets
    accountIDKey: account_id
    tunnelNameKey: tunnel_name
    apiTokenKey: api_token

cloudflared:
  image:
    repository: cloudflare/cloudflared
    pullPolicy: IfNotPresent
    tag: 2025.8.0
  replicaCount: 1
  protocol: auto

cloudflaredServiceMonitor:
  create: false