ingress:
  enabled: true
  className: "traefik-external"
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
    external-dns.alpha.kubernetes.io/target: 157.7.66.200
  hosts:
    - host: summaly.soli0222.com
      paths:
        - path: /
          pathType: Prefix
  tls:
    - hosts:
        - summaly.soli0222.com
      secretName: summaly.soli0222.com-dns01