# {{ ansible_managed }}
services:
  frps:
    image: ghcr.io/fatedier/frps:{{ frps_version }}
    container_name: frps
    restart: always
    network_mode: host
    environment:
      TZ: Asia/Tokyo
    volumes:
      - /etc/frps/frps.toml:/etc/frp/frps.toml
      - /etc/frps/404.html:/etc/frp/404.html:ro
    command: ["-c", "/etc/frp/frps.toml"]
