# {{ ansible_managed }}
bindPort = {{ frps_bind_port }}
vhostHTTPPort = {{ frps_vhost_http_port }}
tcpmuxHTTPConnectPort = {{ frps_tcpmux_httpconnect_port }}

auth.token = "{{ frps_auth_token }}"

webServer.addr = "127.0.0.1"
webServer.port = {{ frps_webserver_port }}
enablePrometheus = true
