alloy:
  configMap:
    create: false
    name: alloy-config
    key: config.alloy
    stabilityLevel: experimental
    enableReporting: false

controller:
  type: 'deployment'

serviceMonitor:
  enabled: true

ingress:
  enabled: true
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
  faroPort: 12345
  ingressClassName: traefik
  hosts:
    - alloy.str08.net
  tls:
    - hosts:
        - alloy.str08.net
      secretName: alloy.str08.net-dns01
