prometheus.scrape "misskey_db" {
  targets    = [{"__address__" = "localhost:9187", "job" = "postgres"}]
  forward_to = [prometheus.relabel.add_common_labels.receiver]
}

prometheus.scrape "redis_exporter" {
  targets    = [{"__address__" = "localhost:9121", "job" = "redis"}]
  forward_to = [prometheus.relabel.add_common_labels.receiver]
}

prometheus.scrape "falco" {
  targets    = [{"__address__" = "localhost:8765", "job" = "falco"}]
  forward_to = [prometheus.relabel.add_common_labels.receiver]
}
