prometheus.scrape "misskey_db" {
  targets    = [{"__address__" = "localhost:9187", "instance" = "{{ ansible_hostname }}"}]
  forward_to = [prometheus.remote_write.mimir.receiver]
}

prometheus.scrape "redisexporter" {
  targets    = [{"__address__" = "localhost:9121", "instance" = "{{ ansible_hostname }}"}]
  forward_to = [prometheus.remote_write.mimir.receiver]
}
