prometheus.exporter.unix "nodeexporter" {}

prometheus.scrape "nodeexporter" {
  targets = prometheus.exporter.unix.nodeexporter.targets
  forward_to = [prometheus.remote_write.mimir.receiver]
}

prometheus.exporter.cadvisor "cadvisor" {
  enabled_metrics         = ["cpu", "memory"]
  store_container_labels  = true
}

prometheus.scrape "cadvisor" {
  targets    = prometheus.exporter.cadvisor.cadvisor.targets
  forward_to = [prometheus.remote_write.mimir.receiver]
}

prometheus.remote_write "mimir" {
  endpoint {
    url = "{{ mimir_endpoint }}"

{%- if 'external' in group_names %}

    tls_config {
      cert_file = "{{ tls_cert_path }}"
      key_file = "{{ tls_key_path }}"
    }
{%- endif %}

    headers = {
      "X-Scope-OrgID" = "{{ mimir_org_id }}",
    }
  }
}
