---
- name: Add Grafana repository key
  shell:
    cmd: > 
      curl -fsSL https://apt.grafana.com/gpg.key |
      gpg --yes --dearmor -o /etc/apt/keyrings/grafana.gpg 

- name: Add Grafana repository
  shell:
    cmd: > 
      echo "deb [signed-by=/etc/apt/keyrings/grafana.gpg] https://apt.grafana.com stable main" |
      tee /etc/apt/sources.list.d/grafana.list

- name: Install Alloy
  apt:
    name:
      - alloy
    state: present
    update_cache: yes

- name: Create /etc/systemd/system/alloy.service.d directory
  ansible.builtin.file:
    path: /etc/systemd/system/alloy.service.d
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Create systemd override file for Alloy
  ansible.builtin.template:
    src: override.conf.j2
    dest: /etc/systemd/system/alloy.service.d/override.conf
    owner: root
    group: root
    mode: '0644'

- block:
  - name: Retrieve TLS certificate from 1Password
    ansible.builtin.set_fact:
      tls_cert_b64: "{{ lookup('community.general.onepassword', 'pstr.space mTLS', field='tls.pem', vault='Kubernetes') }}"

  - name: Retrieve TLS private key from 1Password
    ansible.builtin.set_fact:
      tls_key_b64: "{{ lookup('community.general.onepassword', 'pstr.space mTLS', field='tls.key', vault='Kubernetes') }}"

  - name: Create certificate directory
    ansible.builtin.file:
      path: /etc/cert/pstr.space
      state: directory
      mode: '0755'
      owner: alloy
      group: alloy

  - name: Decode and save TLS certificate
    ansible.builtin.copy:
      content: "{{ tls_cert_b64 | b64decode }}"
      dest: /etc/cert/pstr.space/tls.pem
      mode: '0644'
      owner: alloy
      group: alloy

  - name: Decode and save TLS private key
    ansible.builtin.copy:
      content: "{{ tls_key_b64 | b64decode }}"
      dest: /etc/cert/pstr.space/tls.key
      mode: '0600'
      owner: alloy
      group: alloy
  when: inventory_hostname in groups['external']

- name: Configure Alloy Env
  ansible.builtin.template:
    src: alloy.env.j2
    dest: /etc/default/alloy

- name: Remove Old Configuration
  ansible.builtin.file:
    path: /etc/alloy/config.alloy
    state: absent

- name: Configure Prometheus
  ansible.builtin.template:
    src: prometheus.alloy.j2
    dest: /etc/alloy/prometheus.alloy
    mode: '0644'

- name: Configure Loki
  ansible.builtin.template:
    src: loki.alloy.j2
    dest: /etc/alloy/loki.alloy
    mode: '0644'

- name: Configure Prometheus for Misskey
  ansible.builtin.template:
    src: misskey.alloy.j2
    dest: /etc/alloy/misskey.alloy
    mode: '0644'
  when: inventory_hostname in groups['external'] and inventory_hostname in groups['misskey']

- name: Systemd Daemon Reload
  ansible.builtin.systemd:
    daemon_reload: yes

- name: Restart Alloy
  ansible.builtin.systemd:
    name: alloy
    state: restarted
    enabled: yes
