[ req ]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
req_extensions = v3_req

[ dn ]
CN = {{ inventory_hostname }}

[ v3_req ]
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth, clientAuth
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = {{ inventory_hostname }}
DNS.2 = localhost
IP.1 = {{ hostvars[inventory_hostname]['ansible_host'] }}
IP.2 = 127.0.0.1
