engine:
  kind: modern_ebpf
  modern_ebpf:
    cpus_for_each_buffer: {{ falco_modern_ebpf_cpus_for_each_buffer }}
    buf_size_preset: {{ falco_modern_ebpf_buf_size_preset }}
    drop_failed_exit: {{ falco_modern_ebpf_drop_failed_exit | bool | lower }}

container_engines:
  cri:
    enabled: true
    sockets:
      - {{ falco_cri_socket }}
    disable_async: {{ falco_cri_disable_async | bool | lower }}
  containerd:
    enabled: false

metrics:
  enabled: {{ falco_metrics_enabled | bool | lower }}
  interval: {{ falco_metrics_interval }}
  output_rule: {{ falco_metrics_output_rule | bool | lower }}
  rules_counters_enabled: true
  resource_utilization_enabled: true
  state_counters_enabled: true
  kernel_event_counters_enabled: true
  kernel_event_counters_per_cpu_enabled: false
  libbpf_stats_enabled: true
  plugins_metrics_enabled: true
  jemalloc_stats_enabled: false
  convert_memory_to_mb: true
  include_empty_values: false

webserver:
  enabled: true
  listen_address: {{ falco_metrics_listen_address }}
  listen_port: {{ falco_metrics_listen_port }}
  prometheus_metrics_enabled: {{ falco_metrics_enabled | bool | lower }}
  ssl_enabled: false
