frontend kube-api
    bind *:6443
    option tcplog
    mode tcp
    default_backend    api-6443
    
backend api-6443
    mode tcp
    balance    roundrobin
    server pke-oky-cp-1 192.168.20.51:6443 
    server pke-oky-cp-1 192.168.20.52:6443 
