global:
  extraEnvFrom:
    - secretRef:
        name: minio-secrets

minio:
  enabled: false

mimir:
  structuredConfig:
    common:
      storage:
        backend: s3
        s3:
          endpoint: "minio.str08.net"
          region: "minio-kkg-1"
          secret_access_key: "${S3_SECRET_ACCESS_KEY}"
          access_key_id: "${S3_ACCESS_KEY_ID}"

    blocks_storage:
      s3:
        bucket_name: mimir-blocks

    alertmanager_storage:
      s3:
        bucket_name: mimir-alertmanager

    ruler_storage:
      s3:
        bucket_name: mimir-ruler

    limits:
      max_global_series_per_user: 500000
      ingestion_rate: 50000
      ingestion_burst_size: 1000000
      out_of_order_time_window: "5m"

ingrester:
  replicas: 4
  zoneAwareReplication:
    enabled: false

store_gateway:
  replicas: 3
  zoneAwareReplication:
    enabled: false

ingress:
  enabled: true
  className: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
  ingressClassName: traefik
  hosts:
    - mimir.str08.net
  tls:
    - hosts:
        - mimir.str08.net
      secretName: mimir.str08.net-dns01

metaMonitoring:
  serviceMonitor:
    enabled: true

  dashboards:
    enabled: true

  prometheusRule:
    enabled: true
    mimirAlerts: true
    mimirRules: true