global_defs {
    router_id LVS_DEVEL
}
vrrp_script check_apiserver {
  script "/etc/keepalived/check_apiserver.sh"
  interval 3
  weight -2
  fall 10
  rise 2
}

vrrp_instance Instance1 {
    state BACKUP
    interface eth0
    virtual_router_id 10
    priority 200
    advert_int 1
    unicast_src_ip 192.168.20.31
    unicast_peer {
       192.168.20.32
    }
    virtual_ipaddress {
       192.168.20.30
    }
    track_script {
        check_apiserver
    }
}
