[defaults]
host_key_checking = False
local_tmp = /tmp/ansible-local

[privilege_escalation]
become_flags = -H -S

[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o ForwardAgent=yes
