bind-address: "{{ k3s_bind_address }}"
node-ip: "{{ k3s_node_ip }}"
{% if k3s_node_external_ip | length > 0 %}
node-external-ip: "{{ k3s_node_external_ip }}"
{% endif %}
flannel-backend: "{{ k3s_flannel_backend }}"
disable-network-policy: {{ k3s_disable_network_policy | bool | lower }}
write-kubeconfig-mode: "{{ k3s_write_kubeconfig_mode }}"

cluster-cidr: "{{ k3s_cluster_cidr }}"
service-cidr: "{{ k3s_service_cidr }}"
cluster-dns: "{{ k3s_cluster_dns }}"

disable:
{% for component in k3s_disable_components %}
  - {{ component }}
{% endfor %}

{% if k3s_node_role == "server" %}
advertise-address: "{{ k3s_advertise_address }}"
{% if k3s_effective_tls_sans | default([]) | length > 0 %}
tls-san:
{% for san in k3s_effective_tls_sans %}
  - "{{ san }}"
{% endfor %}
{% endif %}
datastore-endpoint: "{{ k3s_datastore_endpoint }}"
datastore-cafile: "{{ k3s_datastore_cafile }}"
datastore-certfile: "{{ k3s_datastore_certfile }}"
datastore-keyfile: "{{ k3s_datastore_keyfile }}"
token: "{{ k3s_token }}"
{% endif %}

{% if k3s_node_role == "agent" %}
server: "{{ k3s_server_url }}"
token: "{{ k3s_token }}"
{% endif %}
